.mainheader {padding:  50px 0px 50px 0; background-color:  #53E1CC; color:  #225C53; text-align:  center;}

.box1 {padding: 1px 0 0px 0; background-color: #0BA891; color: #225C53; text-align: center;}

.external-media {background-color:  #0BA891;}

h1 {font-size: 90px;}

h2 {color:  #000000;}
